<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= " #{@user.nickname}さん" %>
    </h2>
    <div class='item-img-content' >
      <% if @user.avatar.present? %>
        <%= image_tag @user.avatar ,class:"user-box-img" %>
      <% else %>
        <%= image_tag "silhouette-3199472_1280.png" ,class:"item-box-img" %>
      <% end %>
    </div>
    
    <% if user_signed_in? %><%# "ログインしている"%>
      <% if current_user.id == @user.id %><%# 現在ログインしているユーザーが詳細ページのユーザーであればユーザー情報編集ボタンが表示される %>
        <%= link_to 'ユーザー情報の編集', "#", method: :get, class: "item-red-btn" %>
      <% end %>
    <% end %>

<%# あとでユーザープロフィール欄を入れる %>
    <div class="item-explain-box">
      <span><%= "ユーザーの自己紹介" %></span>
      <span><%= @user.introduction %></span>
    </div>
</div>

<%# 商品一覧 %>
<div class='item-contents'>
  <div class="subtitle">
    <%= "#{@user.nickname}さんの出品リスト" %>
  </div>
  <ul class='item-lists'>
    <% unless @items.empty? %>
      <% @items.each do |item| %>
        <li class='list'>
          <%= link_to item_path(item.id) do %>
          <div class='item-img-content'>
            <%= image_tag item.image, class: "item-img" %>

            <%# 商品が売り切れていたらSold Out!!表示 %>
            <% unless item.purchase.nil? %>
              <div class='sold-out'>
                <span>Sold Out!!</span>
              </div>
            <% end %>

          </div>
          <div class='item-info'>
            <h3 class='item-name'>
              <%= item.name %>
            </h3>
            <div class='item-price'>
              <span><%= item.price %>円<br><%= item.delivery_fee.name %></span>
              <div class='star-btn'>
                <%= image_tag "star.png", class:"star-icon" %>
                <span class='star-count'>0</span>
              </div>
            </div>
          </div>
          <% end %><%# link_toの終わり %>
        </li>
      <% end %><%# each文の終わり %>
        
    <% else %><%# unlessの分岐%>
        <li class='list'>
          <div class='item-ino'>
            <h3 class='item-name'><%= "#{@user.nickname}さんは出品していません" %></h3>
          </div>
        </li>
    <% end %>
  </ul>
</div>
<%# /商品一覧 %>

<%= render "shared/footer" %>