<div class="items-sell-contents">
  <%= render 'shared/second-header' %>

  <div class="items-sell-main">
    <h2 class="items-sell-title">商品の情報を入力</h2>
    <%= form_with model: @item, local: true do |f| %>

    <%# エラー発生時にメッセージを表示%>
    <%= render 'shared/error_messages', model: f.object %>

    <%# フォームの部分テンプレート呼び出し %>
    <%= render partial: 'items/form', locals: {f: f} %>

    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "出品する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

  <%= render "shared/second-footer"%>
</div>